{%- assign number_of_comments = article.comments_count -%}
{% if comment and comment.status != 'published' %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

{% include 'spacer' %}
<header class="health-hub__header">
  <div class="container text-center">
    <h1 class="health-hub__header__title">{{ blog.title }}</h1>
  </div>
</header>
<div class="article__banner">
</div>
<article>
  <br>
  <blockquote>{{ article.excerpt }}</blockquote>
  <h1 class="text-center">{{ article.title }}</h1>
  <br> {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
  <p class="text-muted">{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</p>
  {% if article.tags.size > 0 %}
  {% for tag in article.tags %}
    <p>tags: </p><a href="{{ blog.url }}/tagged/{{ tag | handle }}"><span class="badge">{{ tag }}</span></a>
    {% endfor %}
  {% endif %}
  <div class="rte" itemprop="articleBody">
    {{ article.content }}
  </div>
</article>

<style>
  .health-hub__header {
    height: 90px;
    background-color: #00BFB3;
  }

  .health-hub__header__title {
    line-height: 90px;
    color: white;
    font-size: 3rem;
    font-weight: 100;
  }





  article {
    display: grid;
    grid-template-columns: 1fr 1fr 10px 740px 10px 1fr 1fr;
  }

  .article__banner {
    height: 450px;
    background-image: url('{{ article | img_url: '1024x' }}');
    background-size: cover;
    background-position: center;
  }

  article>* {
    min-width: 0;
    grid-column: 4;
  }

  article>blockquote {
    grid-column: 3 / 5;
    padding-left: 10px;
    color: #666;
    border-left: 3px solid black;
  }

  article>p {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    color: rgba(0, 0, 0, 0.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
</style>