<div id="collection-main">
  <form
    action="{{ collection.url }}{% if current_tags %}/{{ current_tags | join: '+' }}{% endif %}"
    id="collection-form"
    data-submit-load="#collection-main"
    rel="noopener noreferrer"
  >
    {%- section 'page-title' -%}
    {%- section 'search-field' -%}
    {% section 'collection-filter-toolbar' %}
    <div class="page-width">
    <div class="mt-4 grid">
        <aside class="grid__item medium-up--one-quarter">
          <noscript>
            {% section 'collection-sidebar' %}
          </noscript>
            {% section 'collection-sidebar-plugin' %}
        </aside>
        <main class="grid__item medium-up--three-quarters">
          <div class="page-width">
            <section class="grid">
              {% paginate collection.products by 12 %}
                {% for product in collection.products %}
                  <div class="grid__item wide--one-fifth large--one-quarter medium-down--one-half">
                    <div class="product-thumbnail">
                      <a href="{{ product.url | within: collection }}">
                        <img
                          class="lazyload"
                          src="{{ product.featured_image | img_url: '300x300' }}"
                          data-src="{{ img_url }}"
                          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                          data-aspectratio="{{ featured.featured_image.aspect_ratio }}"
                          data-sizes="auto"
                          alt="{{ product.featured_image.alt | escape }}">
                      </a>
                      <h6 class="mt-2">{{ product.title | escape }}</h6>
                      <p class="text-muted">{{ product.price | money }}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endpaginate %}
              <div id="bc-sf-filter-bottom-pagination"></div>
            </section>
          </div>
        </main>
      </div>
    </div>
  </form>
</div>

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {
    label: {
      sorting: {% assign temp = 'collections.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sorting" {% endunless %},
      sorting_best_selling: {% assign temp = 'collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
      sorting_featured: {% assign temp = 'collections.sorting.featured' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
      sorting_title_ascending: {% assign temp = 'collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
      sorting_title_descending: {% assign temp = 'collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
      sorting_price_ascending: {% assign temp = 'collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
      sorting_price_descending: {% assign temp = 'collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
      sorting_date_ascending: {% assign temp = 'collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
      sorting_date_descending: {% assign temp = 'collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
      sorting_sale_descending: {% assign temp = 'collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
      sorting_relevance: {% assign temp = 'collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},
      search_general_title: {% assign temp = 'product_filter_search.search_general_title' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} 'Search' {% endunless %},
      search_result_header: {% assign temp = 'product_filter_search.search_result_header' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Search Results for "{{ terms }}"'{% endraw %} {% endunless %},
      search_result_empty: {% assign temp = 'product_filter_search.search_result_empty' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %} {% endunless %},
      search_result_number: {% assign temp = 'product_filter_search.search_result_number' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %} {% endunless %},
    },
    custom: {
    }
  };
</script>
