<div class="col-6 col-md-4 col-lg-3">
  <div class="product-thumbnail">
    <a href="{{ product.url | within: collection }}">
      <img
        class="lazyload"
        data-aspectratio="{{ featured.featured_image.aspect_ratio }}"
        data-sizes="auto" alt="{{ product.featured_image.alt | escape }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        src="{{ product.featured_image | img_url: '300x300' }}"
      >
    </a>
    <h6 class="mt-2">{{ product.title | escape }}</h6>
    <p class="text-muted">{{ product.price | money }}</p>
  </div>
</div>