<div class="wrapper" style="background-color:#00BFB3;">
  <div class="container">
    <div class="row">
      <div class="shopify-section-{{ section.id }}__secondary col-lg-5">
        <picture id="img-1" class="shopify-section-{{ section.id }}__secondary__image">
          {% if section.settings.b1_img != nil %}
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="{{ section.settings.b1_img | img_url: '350x', scale: 3 }}" media="(min-width: 992px)" alt="telephone sending text message"
            style="max-width: 250px">
          <source srcset="{{ 'sms-transparent.png' | asset_img_url: '50x', scale: 3 }}" media="(min-width: 500px)" alt="telephone sending text message">
          <source srcset="{{ 'sms-transparent.png' | asset_img_url: 'medium', scale: 2 }}" media="(max-width: 499px)" alt="telephone sending text message">
          <!--[if IE 9]></video><![endif]-->
          <img src="{{ 'sms-transparent.png' | asset_img_url: 'medium', scale: 3 }}" alt="telephone sending text message">
          {% else %}
          <source srcset="{{ 'iphone-text-ordering.png' | asset_img_url: '350x', scale: 3 }}" media="(min-width: 992px)" alt="telephone sending text message"
            style="max-width: 250px">
          <source srcset="{{ 'sms-transparent.png' | asset_img_url: '50x', scale: 3 }}" media="(min-width: 500px)" alt="telephone sending text message">
          <source srcset="{{ 'sms-transparent.png' | asset_img_url: 'medium', scale: 2 }}" media="(max-width: 499px)" alt="telephone sending text message">
          <!--[if IE 9]></video><![endif]-->
          <img src="{{ 'sms-transparent.png' | asset_img_url: 'medium', scale: 3 }}" alt="telephone sending text message">
          {% endif %}
        </picture>
      </div>
      <div class="shopify-section-{{ section.id }}__main col-lg-7">
        <div class="shopify-section-{{ section.id }}__main__wrapper">
          <h1 class="shopify-section-{{ section.id }}__main__wrapper__heading" style="color:white">
            {{ section.settings.b1_heading }}
          </h1>
          <p class="shopify-section-{{ section.id }}__main__wrapper__text" style="color:white">
            {{ section.settings.b1_text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" style="background-color:white">
  <div class="container">
    <div class="row">
      <div class="shopify-section-{{ section.id }}__main col-lg-7 order-2 order-md-1">
        <div class="shopify-section-{{ section.id }}__main__wrapper">
          <h1 class="shopify-section-{{ section.id }}__main__wrapper__heading">
            {{ section.settings.b2_heading }}
          </h1>
          <p class="shopify-section-{{ section.id }}__main__wrapper__text">
            {{ section.settings.b2_text }}
          </p>
        </div>
      </div>
      <div class="shopify-section-{{ section.id }}__secondary col-lg-5 order-1 order-md-2">
        <picture id="img-2" class="shopify-section-{{ section.id }}__secondary__image">
          {% if section.settings.b2_img == nil %}
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="{{ section.settings.b2_img | asset_img_url: '400x', scale: 3 }}" media="(min-width: 992px)" alt="telephone sending text message">
          <source srcset="{{ section.settings.b2_img | asset_img_url: '200x', scale: 3 }}" media="(min-width: 500px)" alt="telephone sending text message">
          <source srcset="{{ section.settings.b2_img | asset_img_url: 'medium', scale: 2 }}" media="(max-width: 499px)" alt="telephone sending text message">
          <!--[if IE 9]></video><![endif]-->
          <img src="{{ section.settings.b1_img | asset_img_url: 'medium', scale: 3 }}" alt="telephone sending text message"> {% else %}
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="{{ 'family.png' | asset_img_url: '400x', scale: 3 }}" media="(min-width: 992px)" alt="telephone sending text message">
          <source srcset="{{ 'family.png' | asset_img_url: '200x', scale: 3 }}" media="(min-width: 500px)" alt="telephone sending text message">
          <source srcset="{{ 'family.png' | asset_img_url: 'medium', scale: 2 }}" media="(max-width: 499px)" alt="telephone sending text message">
          <!--[if IE 9]></video><![endif]-->
          <img src={{ 'family.png' | asset_img_url: 'medium', scale: 3 }} alt="telephone sending text message"> {% endif %}
        </picture>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" style="background-color:#00BFB3">
  <div class="container">
    <div class="row">
      <div class="shopify-section-{{ section.id }}__secondary col-lg-5">
        <picture id="img-3" class="shopify-section-{{ section.id }}__secondary__image">
          {% if section.settings.b3_img == nil %}
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="{{ 'delivery.png' | asset_img_url: '400x', scale: 3 }}" media="(min-width: 992px)" alt="telephone sending text message">
          <source srcset="{{ 'delivery.png' | asset_img_url: '200x', scale: 3 }}" media="(min-width: 500px)" alt="telephone sending text message">
          <source srcset="{{ 'delivery.png' | asset_img_url: 'medium', scale: 2 }}" media="(max-width: 499px)" alt="telephone sending text message">
          <!--[if IE 9]></video><![endif]-->
          <img src={{ 'delivery.png' | asset_img_url: 'medium', scale: 3 }} alt="telephone sending text message"> {% else %}
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source srcset="{{ section.settings.b3_img | asset_img_url: '400x', scale: 3 }}" media="(min-width: 992px)" alt="telephone sending text message">
          <source srcset="{{ section.settings.b3_img | asset_img_url: '200x', scale: 3 }}" media="(min-width: 500px)" alt="telephone sending text message">
          <source srcset="{{ section.settings.b3_img | asset_img_url: 'medium', scale: 2 }}" media="(max-width: 499px)" alt="telephone sending text message">
          <!--[if IE 9]></video><![endif]-->
          <img src="{{ section.settings.b1_img | asset_img_url: 'medium', scale: 3 }}" alt="telephone sending text message"> {% endif %}
        </picture>
      </div>
      <div class="shopify-section-{{ section.id }}__main col-lg-7">
        <div class="shopify-section-{{ section.id }}__main__wrapper text-left">
          <h1 class="shopify-section-{{ section.id }}__main__wrapper__heading" style="color:white">
            {{ section.settings.b3_heading }}
          </h1>
          <p class="shopify-section-{{ section.id }}__main__wrapper__text" style="color:white">Medication will be dispatched the next day</p>
        </div>
      </div>
    </div>
  </div>
</div>





{% schema %}
    {
      "name": "3 steps section",
      "settings": [
        {
          "type": "text",
          "id": "b1_heading",
          "default": "Order your prescription by SMS",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "b1_text",
          "default": "We've made it really easy for you to contact us. Simply text us and we'll dispatch your order the same day.",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "b1_img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "b2_heading",
          "default": "The whole house is covered",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "b2_text",
          "default": "Membership covers prescriptions for 2 adults and any children up to the age of 23.",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "b2_img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "b3_heading",
          "default": "You get delivered at home",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "b3_text",
          "default": "Sample text.",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "b3_img",
          "label": "Image"
        }
      ]
    }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}