<div class="container">
  <button class="accordion">Categories</button>
  <div class="accordion-content">
    <ul>
      {%- for collection_option in collections -%}
      {%- unless collection_option.title contains '(Related)' -%}
      <li class="nav-item">
        {%- if collection.handle == collection_option.handle -%}
        <span class="nav-link">
          {{ collection_option.title | escape }}
          {%- else -%}
          <a class="nav-link" href="{{ collection_option.url }}?view={{ collection-view }}&sort_by={{ collection.sort_by }}" data-click-load="#collection-main">
            {{ collection_option.title | escape }}
          </a>
        </span>
        {%- endif -%}
      </li>
      {%- endunless -%}
      {%- endfor -%}
    </ul>
  </div>
  <br>
  <button class="accordion">Filter by</button>
  <div class="accordion-content">
    <ul>
      {% for tag in collection.tags %}
      <li class="nav-item">
        {% if current_tags contains tag %}
        {{ '&#9745;' | append: tag | link_to_remove_tag:tag | replace:'title="', 'class="nav-link" data-click-load="#collection-main" title="' }}
        {% else %}
        {{ '&#9744;' | append: tag | link_to_add_tag:tag | replace:'title="', 'class="nav-link" data-click-load="#collection-main" title="' }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <br>
  <button class="accordion">Price</button>
  <div class="accordion-content">
    <div class="sliders-wrapper">
      <div class="slider-wrapper">
        <p>min</p>
        <form action="#" method="post">
          <input class="price-slider" type="range" min="0" max="300" value="1" id="price-range__from">
        </form>
      </div>
      <div class="slider-wrapper">
        <p>max</p>
        <form action="#" method="post">
          <input class="price-slider" type="range" min="1" max="300" value="300" id="price-range__to">
        </form>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
