<nav class="shopify-section-{{ section.id }} navbar navbar-expand-lg navbar-light bg-light static-top">	
  <div class="container">
    <a href="/" itemprop="url" class="navbar-brand site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img id="logo"
            src="{{ section.settings.logo | img_url: image_size }}"
            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            itemprop="logo">
      {% else %}
        <img id="logo"
            src="{{ 'logo.png' | asset_url }}"
            alt="{{ shop.name }}" 
            itemprop="logo">
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed-content" aria-controls="collapsed-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsed-content">
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        {% for link in linklists[section.settings.main_linklist].links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if menus[child_list_handle].links != blank %}
          <li class="nav-item dropdown">
            <a href="{{ link.url }}" class="nav-link dropdown-toggle{% if link.active %} active{% endif %}" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ link.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="Dropdown">
              {% for childlink in menus[child_list_handle].links %}
                <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li class="nav-item{% if link.active %} active{% endif %}">
            <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      {% if shop.customer_accounts_enabled %}
        <div class="dropdown-divider"></div>
        <div class="btn-group btn-group-justified">
        {% if customer  %}
          <a href="" class="btn btn-secondary">Your account</a>
          {% else %}
          {{ 'Log in' | customer_login_link | replace: 'href', 'class="btn btn-xs-block" id="login-btn" href' }}
          {% if shop.customer_accounts_optional %}
            {{ 'Register' | customer_register_link | replace: 'href', 'class="btn btn-xs-block" id="register-btn" href' }}
          {% endif %}
          {% endif %}
          
          <a href="/cart"
            class="btn btn-xs-block"
            id="cart-btn">
            <i class="fas fa-shopping-cart"></i>
            <span id="cartCount" class="badge badge-pill badge-info">
              {{ cart.item_count }}
            </span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
  

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
	  	"type": "range",
        "id": "nav_font_size",
        "min": 18,
        "max": 28,
        "step": 1,
        "unit": "px",
        "label": "Menu font size",
        "default": 20
      }
    ]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}

{% stylesheet %}
{% if section.settings.logo != blank %}
  .site-header__logo-image {
    max-width: {{ section.settings.logo_max_width }}px;
  }
  {% endif %}
  .nav-item {
    font-size: {{ section.settings.nav_font_size }}px;
  }
  .btn-group > a {
    font-size: {{ section.settings.nav_font_size }}px;
  }
{% endstylesheet %}