{% schema %}
  {
    "name": "Home banner",
    "settings": [
      {
        "type": "text",
        "id": "banner_heading",
        "label": "Heading",
        "default": "Welcome to Healthwave"
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Text",
        "default": "Over 15,000 people have switched to Healthwave for their prescription. See how much you can save by joining."
      },
      {
        "type": "radio",
        "id": "banner_btn_enabled",
        "label": "Button",
        "options": [
          {"value": "enabled", "label": "enabled"},
          {"value": "disabled", "label": "disabled"}
        ],
        "default": "enabled"
      },
      {
        "type": "text",
        "id": "banner_btn_text",
        "label": "Button text",
        "default": "Learn more"
      },
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner image"
      },
      {
        "type": "range",
        "id": "banner_image_width",
        "min": 300,
        "max": 600,
        "step": 10,
        "unit": "px",
        "label": "Image width",
        "default": 500
      },
      {
        "type": "radio",
        "id": "layout",
        "label": "Image placement",
        "options": [
          {"value": "left", "label": "Image on the left"},
          {"value": "right", "label": "Image on the right"}
        ],
        "default": "right"
      }
    ]
  }

{% endschema %}

<div class="container">
  <div class="row">
    <div id="home-text" class="{{ section.id }}__main col-lg-7">
      <h1 class="{{ section.id }}__main__heading">{{ section.settings.banner_heading }}</h1>
      <p class="{{ section.id }}__main__text">{{ section.settings.banner_text }}</p>
      {% if section.settings.banner_btn_enabled == "enabled" %}
      <button class="{{ section.id }}__main__button btn">{{ section.settings.banner_btn_text }}</button>
      {% endif %}
    </div>
    <div class="{{ section.id }}__secondary col-lg-5">
      <img
        id="hand"
        class="{{ section.id }}__secondary__image"
        src="https://res.cloudinary.com/djr6sgsbd/image/upload/f_auto/v1523883163/pill-bottle-in-hand.jpg"
        width={{ section.settings.banner_image_width }}
      />
    </div>
  </div>
</div>