<section class="membership-page__section">
  <div class="container">
    <div class="grid">
      {% if section.settings.img_placement != 'right' %}
      <div class="grid__item one-half">
        {% if section.settings.b1_img != nil %}
        <img sizes="(min-width: 992px) 990px, (min-width: 500px) 490px,200px"
            srcset="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 256w,
                    {{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w,
                    {{ 'placeholder.png' | asset_img_url: '768x', scale: 3 }} 768w,
                    {{ 'placeholder.png' | asset_img_url: '1024x', scale: 3 }} 1024w,
                    {{ 'placeholder.png' | asset_img_url: '1280x', scale: 3 }} 1280w"
            src="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w"
            alt="responsive image"></img>
        {% else %}
        <img sizes="(min-width: 992px) 990px,
                  (min-width: 500px) 490px,
                  200px" srcset="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 256w,
                    {{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w,
                    {{ 'placeholder.png' | asset_img_url: '768x', scale: 3 }} 768w,
                    {{ 'placeholder.png' | asset_img_url: '1024x', scale: 3 }} 1024w,
                    {{ 'placeholder.png' | asset_img_url: '1280x', scale: 3 }} 1280w" src="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w"
          alt="responsive image"></img>
        {% endif %}
      </div>
      <div class="grid__item one-half">
        <div class="membership-page__section__text-wrapper">
          {{ section.settings.text }}
        </div>
      </div>
      {% else %}
      <div class="grid__item one-half">
        <div class="membership-page__section__text-wrapper">
          {{ section.settings.text }}
        </div>
      </div>
      <div class="grid__item one-half">
        {% if section.settings.b1_img != nil %}
        <img sizes="(min-width: 992px) 990px,
                  (min-width: 500px) 490px,
                  200px" srcset="{{ section.settings.image | asset_img_url: '512x', scale: 3 }} 256w,
                    {{ section.settings.image | asset_img_url: '512x', scale: 3 }} 512w,
                    {{ section.settings.image | asset_img_url: '768x', scale: 3 }} 768w,
                    {{ section.settings.image | asset_img_url: '1024x', scale: 3 }} 1024w,
                    {{ section.settings.image | asset_img_url: '1280x', scale: 3 }} 1280w" src="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w"
          alt="responsive image"></img>
        {% else %}
        <img sizes="(min-width: 992px) 990px,
                  (min-width: 500px) 490px,
                  200px" srcset="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 256w,
                    {{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w,
                    {{ 'placeholder.png' | asset_img_url: '768x', scale: 3 }} 768w,
                    {{ 'placeholder.png' | asset_img_url: '1024x', scale: 3 }} 1024w,
                    {{ 'placeholder.png' | asset_img_url: '1280x', scale: 3 }} 1280w" src="{{ 'placeholder.png' | asset_img_url: '512x', scale: 3 }} 512w"
          alt="responsive image"></img>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Text/Image section",
    "class": "member",
    "settings": [
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image placement",
        "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "html",
        "id": "text",
        "label": "Text content",
        "default": "<p></p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
