<main class="bg-white">
  <div class="container">
    <div class="d-md-none text-center mb-3">
      <h1 >{{ product.title | escape }}</h1>
      <h5 class="text-muted">{{ product.vendor | escape }}</h5>
      <h3>{% if product.price_varies %}{{ product.price_min | money }} - {{ product.price_max | money }}{% else %}{{ product.price | money }}{% endif %}</h3>
      <form action="/cart/add" method="post" role="form" class="mt-4">
        {%- if product.variants.size > 1 -%}
        <div class="form-group">
          <label for="product-select">Select your {{ product.title | downcase }}</label>
          <select id="product-select"
                  name="id"
                  class="form-control">
            {%- for variant in product.variants -%}
            <option {% if variant == product.selected_or_first_available_variant %}
                    selected="selected" {% endif %}
                    value="{{ variant.id }}">
              {{ variant.title | escape }} - {{ variant.price | money }}
            </option>
            {%- endfor -%}
          </select>
        </div>
        {%- else =%}
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        {%- endif -%}
        <button type="submit" class="btn btn-primary btn-lg btn-xs-block" {% unless product.available %} disabled="disabled"{% endunless %}>Add to cart</button>
      </form>
    </div>
    <div class="row">
      <div class="col-md-6"> <!--       LEFT COLUMN -->
        {%- if product.images.size > 0 -%}
          <div id="product-image-carousel" class="carousel slide">
            <div class="carousel-inner" role="listbox">
              {%- for image in product.images -%}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img class="d-block img-fluid" src="{{ image | product_img_url: '240x240', scale: 2, crop: 'center' }}" alt="{{ product.title | escape }}" />
              </div>
              {%- endfor -%}
            </div>
            <a class="carousel-control-prev" href="#product-image-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#product-image-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="row hidden-sm-down">
            {%- for image in product.images -%}
              <div class="col-md-3 mt-3">
                <a href="{{ image | product_img_url: 'master' }}" target="_blank" data-target="#product-image-carousel" data-slide-to="{{ forloop.index0 }}">
                  <img class="img-thumbnail" src="{{ image | product_img_url: '90x90', scale: 2, crop: 'center' }}" alt="{{ product.title | escape }}" />
                </a>
              </div>
            {%- endfor -%}
          </div>
        {%- else -%}
          {{ 'image' | placeholder_svg_tag: 'd-block img-fluid bg-faded' }}
        {%- endif -%}
      </div>
      <div class="col-md-6">  <!--       RIGHT COLUMN -->
        <div class="hidden-sm-down">
          <h1>{{ product.title | escape }}</h1>
          <h5>{{ product.vendor | escape }}</h5>
          <div class="cart-and-price__wrapper">
          <form action="/cart/add" method="post" role="form">
            {%- if product.variants.size > 1 -%}
            <div class="form-group">
              <label for="product-select">Select your {{ product.title | downcase }}</label>
              <select id="product-select"
                      name="id"
                      class="form-control">
                {%- for variant in product.variants -%}
                <option
                        {% if variant == product.selected_or_first_available_variant %}
                        selected="selected"
                        {% endif %}
                        value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}
                </option>
                {%- endfor -%}
              </select>
            </div>
            {%- else =%}
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            {%- endif -%}
            <button id="add-to-cart-btn"
                    type="submit"
                    class="btn btn-lg"
                    {% unless product.available %}
                    disabled="disabled"{% endunless %}>Add to cart
			      </button>
            </form>
            <div class="rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span>(12)</span>
            </div>
            <h3 class="text-muted">
            {% if product.price_varies %}
            {{ product.price_min | money }} - {{ product.price_max | money }}
            {% else %}
            {{ product.price | money }}
            {% endif %}
            </h3>
          </div>
          {%- include 'product-details' -%}
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Related articles</h5>
          	<div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut nisi eros. Integer ex est, bibendum sit amet diam et, mollis auctor mi. Duis vestibulum, justo a cursus feugiat, arcu ipsum pellentesque justo, molestie ultrices massa lorem at urna. Duis tincidunt ligula at bibendum lacinia. Curabitur vitae ornare magna, at iaculis enim. Proin accumsan nulla non vestibulum commodo. Nam laoreet diam urna, id facilisis lorem molestie vel.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h3 class="mt-5">You may also like</h3>
    <div class="row">
    {%- include 'related-products' -%}
    </div>
  </div>
</main>

{% stylesheet %}
.checked {
	color: #00BFB3;
}
.card {
	border: none;
}
.product-info-wrapper {
		padding: 0 2rem 1rem 2rem;
	}
    div.card-header {
		background-color: white;
	}
	#shopify-section-product > main > div {
		padding-top: 1rem;
	}
	#shopify-section-product > main > div > div:nth-child(2) > div.col-md-7 > div.hidden-sm-down > h1 {
		font-size: 1.5em;
	}
	#description[role="tabpanel"] {
		padding: 1.75rem;
	}
	.cart-and-price__wrapper {
		margin: 1rem 0;
		display: flex;
        align-items: center;
        justify-content: space-between;
	}
	#add-to-cart-btn {
		background-color: #00BFB3;
		color: white;
	}
{% endstylesheet %}