{% schema %}
{
  "name": "Testimonials",
  "max_blocks": 4,
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "What our members are saying"
    }
  ],
  "blocks": [
    {
    "name": "testimonial",
    "type": "text",
    "settings": [
        {
          "type": "text",
          "id": "testimonial",
          "label": "Testimonial",
          "default": "This is a testimonial!"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "John Shopify"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Banner sections",
      "name": "Testimonial section",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<div>
  <div class="container">
    <h1 class="{{section.id}}__title">{{ section.settings.heading }}</h1>
    <div class="row">
      {% for block in section.blocks %}
      <div class="col-md-6">
        <section class="{{section.id}}__testimonial-container">
          <p>
            <i class="testimonial__text">{{ block.settings.testimonial }}</i>
            <br>
            <br>
            <span class="testimonial__author">- {{ block.settings.author }}</span>
          </p>
        </section>
      </div>
      {% endfor %}
    </div>
  </div>

